
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}

body{

    font-family: "Inter", sans-serif;

    background:#ffffff;

    color:#111827;

    line-height:1.6;

}
a{

    text-decoration:none;

    color:inherit;

}
ul{

    list-style:none;

}
section{

    padding:90px 8%;

}
 /* navigaTION  */

header{

    width:100%;
    background:#ffffff;
    padding:20px 0;

}
.navbar{

    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1200px;
    margin:auto;

}
.logo img{

    width: 135px;
    cursor:pointer;

}
.nav-menu{

    display:flex;
    gap:35px;
    font-size:17px;
    font-weight:500;
    color:#374151;
    transition:.3s;
}
.nav-btn{

    display:inline-block;
    background:#2563eb;
    color:#ffffff;
    padding:14px 28px;
    border-radius:10px;
    font-weight:600;
    transition:.3s;
}
.nav-menu a:hover{
    color:#2563EB;

}
.nav-btn:hover{
    background:#030d2a;

}